In [1]:
import pandas as pd
import json

In [2]:
FOLDER_PATH = "../data/metadata/"
val_json = FOLDER_PATH + "meta.json"

In [3]:
def get_image(data, img_id):
    select_img = [img for img in data["images"] if img["id"] == img_id][0]
    return select_img

def get_annotations(data, img_id):
    select_anno = [anno for anno in data["annotations"] if anno["image_id"] == img_id]
    return select_anno
# get the "correct" boundaries of the object in the image

def get_coordinates(select_anno, category_id):
    select_coordinates = [
        anno["segmentation"]
        for anno in select_anno
        if anno["category_id"] == category_id
    ]
    return select_coordinates

In [4]:
with open(val_json) as f:
    data = json.load(f)

In [5]:
img_id = 22892
# 'cat' has a category id of 17

category_id = 17

In [6]:
select_img = get_image(data, 22892)

In [8]:
select_img

{'license': 1,
 'file_name': '000000022892.jpg',
 'coco_url': 'http://images.cocodataset.org/val2017/000000022892.jpg',
 'height': 334,
 'width': 500,
 'date_captured': '2013-11-18 15:11:22',
 'flickr_url': 'http://farm1.staticflickr.com/243/521936273_d0817d38a4_z.jpg',
 'id': 22892}

In [9]:
select_anno = [anno for anno in data["annotations"] if anno["image_id"] == 22892]

In [10]:
len(select_anno)

5

In [11]:
print(select_anno[0])

{'segmentation': [[42.29, 221.21, 56.43, 224.35, 64.28, 226.44, 67.95, 222.78, 62.71, 209.69, 62.19, 208.64, 69.0, 211.78, 78.42, 214.92, 82.09, 217.02, 97.27, 218.59, 104.6, 225.92, 111.93, 223.82, 120.31, 227.49, 122.98, 229.9, 131.72, 230.57, 145.16, 236.62, 151.88, 242.0, 184.14, 266.19, 190.19, 277.61, 190.86, 279.63, 187.5, 284.33, 186.15, 287.02, 186.82, 293.07, 188.17, 295.76, 200.27, 282.99, 196.23, 276.94, 194.89, 270.89, 190.86, 265.52, 190.86, 260.14, 163.3, 230.57, 165.99, 223.85, 180.1, 229.9, 198.25, 239.31, 211.02, 245.36, 215.05, 251.4, 217.74, 241.32, 215.05, 236.62, 211.02, 232.59, 177.42, 207.05, 182.12, 190.25, 186.15, 174.79, 187.5, 158.66, 194.89, 144.55, 202.95, 135.82, 211.69, 135.82, 220.43, 140.52, 229.84, 145.22, 245.96, 146.57, 259.4, 145.9, 268.81, 153.96, 275.53, 166.06, 272.85, 174.12, 274.19, 180.17, 278.22, 180.84, 280.91, 177.48, 288.97, 172.11, 278.22, 157.99, 282.25, 156.65, 288.3, 151.27, 288.3, 147.91, 280.91, 139.85, 268.81, 134.47, 255.37, 128.42, 253.36, 125.73, 244.62, 127.08, 240.59, 124.39, 233.2, 113.64, 226.47, 102.89, 225.8, 99.53, 225.8, 96.17, 235.88, 100.2, 240.59, 94.15, 218.41, 84.07, 204.3, 78.02, 197.58, 76.0, 180.78, 82.05, 162.63, 95.49, 152.55, 106.25, 143.14, 117.0, 134.41, 127.08, 122.31, 144.55, 111.56, 153.29, 100.8, 160.68, 95.43, 165.38, 94.08, 160.01, 87.36, 156.65, 77.28, 156.65, 69.22, 157.32, 63.84, 162.7, 57.12, 164.71, 47.71, 174.12, 43.01, 181.51, 38.31, 188.91, 35.62, 204.36]], 'area': 18159.69865000001, 'iscrowd': 0, 'image_id': 22892, 'bbox': [35.62, 76.0, 253.35, 219.76], 'category_id': 18, 'id': 3944}

In [12]:
coordinates = get_coordinates(select_anno, category_id)

In [13]:
print(coordinates)

[[[402.24, 221.73, 381.41, 205.93, 367.76, 173.6, 362.73, 141.28, 353.39, 138.41, 341.9, 125.48, 338.31, 119.01, 328.97, 130.51, 320.35, 142.72, 307.42, 135.54, 303.83, 128.35, 295.21, 127.63, 285.16, 125.48, 277.97, 116.86, 263.61, 103.93, 246.37, 105.37, 237.75, 104.65, 241.34, 91.72, 249.96, 86.69, 260.02, 76.64, 264.33, 65.14, 275.82, 45.75, 295.21, 33.54, 324.66, 29.23, 342.62, 26.36, 350.52, 25.64, 369.2, 23.48, 385.72, 23.48, 403.67, 27.79, 436.0, 34.26, 471.91, 60.12, 484.12, 74.48, 499.2, 86.69, 499.2, 232.5, 457.54, 254.05, 434.56, 237.53, 400.08, 221.01]]]

In [14]:
t1_path = "../data/t1_annotate/output/sample_output_t1.csv"
# raw sample for task 1
# rows 1-3 contain correct annotations
# row 4 is incorrect (dog)
# row 5 is incorrect (random)

t1_df = pd.read_csv(t1_path)

In [15]:
t1_df

,duration,HITId,AssignmentId,WorkerId,AssignmentStatus,AutoApprovalTime,Approve,img_id,category_id,category_name,point_1,point_2,point_3,point_4,point_5,point_6,point_7,point_8,point_9,point_10
0,0:03:30,test,assignment1,worker1,Submitted,2020-10-16 22:19:10+09:00,NaN,22892,17,cat,"295,100","337,120","286,158","272,80","375,64","421,150",NaN,NaN,NaN,NaN
1,0:04:54,test,assignment2,worker2,Submitted,2020-10-16 23:06:31+09:00,NaN,22892,17,cat,"303,120","239,100","380,90","390,96","457,128","251,101","397,213","472,102","367,170","445,150"
2,0:05:13,test,assignment3,worker3,Submitted,2020-10-16 23:17:39+09:00,NaN,22892,17,cat,"313,81","384,67","316,75","339,80","375,50","462,123","456,258",NaN,NaN,NaN
3,0:03:32,test,assignment4,worker4,Submitted,2020-10-16 23:18:01+09:00,NaN,22892,17,cat,"59,192","78,188","43,213","105,210","149,67","178,97","238,158","206,90",NaN,NaN
4,0:06:34,test,assignment5,worker5,Submitted,2020-10-16 23:41:06+09:00,NaN,22892,17,cat,"407,300","407,301","408,303","400,299","413,289","50,30","409,123","32,15",NaN,NaN

In [16]:
t2_path = "../data/t2_guess/output/sample_output_t2.csv"

In [17]:
t2_df = pd.read_csv(t2_path)

In [18]:
t2_df

,duration,HITId,AssignmentId,WorkerId,AssignmentStatus,AutoApprovalTime,Approve,img_id,category_id,category_name,...,guess_1,guess_2,guess_3,guess_4,guess_5,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,0:03:30,test,assignment21,worker21,Submitted,2020-10-16 22:19:10+09:00,NaN,22892,17,cat,...,tiger,chimpanzee,cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0:04:54,test,assignment22,worker22,Submitted,2020-10-16 23:06:31+09:00,NaN,22892,17,cat,...,cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0:05:13,test,assignment23,worker23,Submitted,2020-10-16 23:17:39+09:00,NaN,22892,17,cat,...,dog,cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0:03:32,test,assignment24,worker24,Submitted,2020-10-16 23:18:01+09:00,NaN,22892,17,cat,...,asdf,aszxvczxv,ss,aa,g,NaN,NaN,NaN,NaN,NaN
4,0:06:34,test,assignment25,worker25,Submitted,2020-10-16 23:41:06+09:00,NaN,22892,17,cat,...,cat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0:05:13,test,assignment26,worker26,Submitted,2020-10-16 23:18:01+09:00,NaN,22892,17,cat,...,aardvark,armadillo,orangutan,cat,NaN,NaN,NaN,NaN,NaN,NaN
6,0:06:34,test,assignment27,worker27,Submitted,2020-10-16 23:41:06+09:00,NaN,22892,17,cat,...,dog,greyhound,beagle,puppers,doge,NaN,NaN,NaN,NaN,NaN